<h2>Here's the data from your conversation between <%= ENV["TWILIO_PHONE_NUMBER"] %> and <%= @conversation.phone_number %>:</h2>

<ul id="messageList">
  <%= render partial: "message", collection: @messages %>
</ul>

<button type="button" name="button" id="refresh">See if you have a reply!</button>
